Repository jbenner-radham/status-cod.es: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.yaml:

---
'*.{cjs,js,vue}': eslint --fix
package.json: sort-package-json

Update favicon
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/site.webmanifest
Due: none

Add app class to App component
  src/App.vue
Due: eslint --fix

Add gh-pages package for deploy
  package.json
  yarn.lock
Due: sort-package-json

Updates
  android-chrome-192x192.png
  android-chrome-512x512.png
  apple-touch-icon.png
  assets/index.be37008f.js
  assets/index.d9689691.css
  favicon-16x16.png
  favicon-32x32.png
  favicon.ico
  index.html
  index.json
  robots.txt
  site.webmanifest
Due: eslint --fix

Create CNAME
  CNAME
Due: none

Adjust text size on small screens
  src/App.vue
Due: eslint --fix

Add CNAME
  public/CNAME
Due: none

Hardcoded dcterms:available
  index.html
  vite.config.js
Due: eslint --fix

Updates
  CNAME
  assets/index.34e88aa7.css
  assets/index.d9689691.css
  index.html
Due: none

Add site footer
  src/App.vue
Due: eslint --fix

Add new meta tags
  index.html
Due: none

Remove redundant titles
  src/App.vue
Due: eslint --fix

Updates
  assets/index.112bb8a4.css
  assets/index.34e88aa7.css
  assets/index.be37008f.js
  assets/index.fdeefc7f.js
  index.html
Due: eslint --fix

Refine HTML semantics in StatusCode component
  src/components/StatusCode.vue
Due: eslint --fix

Rephrase footer license text
  src/App.vue
Due: eslint --fix

Updates
  assets/index.112bb8a4.css
  assets/index.3364b85e.css
  assets/index.443dcf44.js
  assets/index.fdeefc7f.js
  index.html
Due: eslint --fix

Enable corepack in CI for Act
  .github/workflows/ci.yaml
Due: none

Add Status Code Checker job
  .eslintrc.cjs
  .github/workflows/status-code-checker.yaml
  scripts/compare-json.cjs
Due: eslint --fix

Implement dark mode
  src/App.vue
  src/components/StatusCodeRange.vue
Due: eslint --fix

Updates
  assets/index.1cfa2cef.css
  assets/index.3364b85e.css
  index.html
Due: none

Add visual indicator for URL hash element
  src/components/StatusCode.vue
  src/components/StatusCodeRange.vue
Due: eslint --fix

Updates
  assets/index.03f5d7fd.css
  assets/index.1cfa2cef.css
  index.html
Due: none

Made CSS :target selectors more specific
  src/components/StatusCode.vue
  src/components/StatusCodeRange.vue
Due: eslint --fix

Add made by me text to footer
  src/App.vue
Due: eslint --fix

Updates
  assets/index.03f5d7fd.css
  assets/index.12b4ca7f.js
  assets/index.215ae7ff.css
  assets/index.443dcf44.js
  index.html
Due: eslint --fix

Tweak site footer and content width
  src/App.vue
Due: eslint --fix

Updates
  assets/index.12b4ca7f.js
  assets/index.1cab7950.css
  assets/index.215ae7ff.css
  assets/index.a7c29fbb.js
  index.html
Due: eslint --fix

Add 104 status code
  src/plugins/StatusCodes.js
Due: eslint --fix

Support non-RFC references
  src/components/StatusCode.vue
  src/components/StatusCodeReference.vue
Due: eslint --fix

Updates
  assets/index.a7c29fbb.js
  assets/index.ac79fbed.js
  index.html
Due: eslint --fix

Updates
  index.html
Due: none

Updates
  index.json
Due: none

Update CI config and public index.json
  .github/workflows/ci.yaml
  .github/workflows/status-code-checker.yaml
  public/index.json
Due: none

Switch from Yarn to pnpm
  .husky/pre-commit
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: none

Add build-status-codes script
  package.json
  pnpm-lock.yaml
  scripts/build-status-codes.cjs
Due: eslint --fix, sort-package-json

Update status codes
  public/index.json
Due: none

Change CI workflow over to pnpm
  .github/workflows/ci.yaml
Due: none

Update script over to pnpm
  package.json
Due: sort-package-json

Updates
  assets/index.05eeca5a.css
  assets/index.1cab7950.css
  assets/index.ac79fbed.js
  assets/index.ecfacdc5.js
  index.html
  index.json
Due: eslint --fix
